---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import coffeeData from '../data/coffee-list.json';
---

<Layout title="☕ Coffee ☕">
  <header class="w-full h-[300px]"></header>
  <main
    class="bg-[#1B1D1F] w-[380px] md:w-5/6 mb-20 p-11 m-auto -mt-[150px] rounded-xl shadow-lg flex flex-col gap-3 items-center relative z-10">
    <img
      src="/vector.svg"
      alt="Vector header"
      class="absolute -right-16 -z-10 md:top-9 md:right-60 "
    />

    <h1 class="text-4xl font-bold text-center mt-10">Our Collection</h1>
    <p class="opacity-50 max-w-lg text-center">
      Introduciong pour Coffee Collection, a selection of unique coffees from different roat types
      and origins, expertly roasted in small batches and shipped fresh weekly.
    </p>

    <article class="flex gap-x-2 text-sm font-semibold">
      <button class="bg-[#6F757C] text-white/80 px-4 py-2 rounded-md">All Products</button>
      <button class="px-4 py-2 rounded-md">Available Now</button>
    </article>

    <article class="grid gap-20 lg:grid-cols-2 mt-6 xl:grid-cols-3 xl:gap-10">
      {
        coffeeData.map((coffee) => 
           (
            <Card 
              title={coffee.title} 
              imageRef={coffee.image},
              price={coffee.price},
              rating={coffee.rating},
              reviews={coffee.totalReviews},
              stock={coffee.stock},
              badges={coffee.badges}
            />
           )
        )
      }
    </article>
  </main>

  <style>
    header {
      background-image: url('/bg-cafe.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  </style>
</Layout>
