---
interface Props {
  title: string;
  price: number;
  imageRef: string;
  rating: number;
  reviews: number;
  stock: number;
  badges?: string[];
}

import Badge from '../components/Badge.astro';
import StarFill from '../components/icons/StarFill.astro';
import Star from '../components/icons/Star.astro';
const { title, price, imageRef, rating, reviews, stock, badges } = Astro.props;
---

<div class="w-[280px]">
  <header class="relative mb-3">
    {badges && badges.map((title) => <Badge title={title} />)}
    <img
      src={imageRef}
      alt=`Image ilustrative of our ${title}`
      class="rounded-3xl aspect-auto h-[180px] w-full object-cover"
    />
  </header>
  <section class="grid grid-cols-[1fr,100px] grid-rows-2 items-center">
    <h2 class="font-semibold text-md">{title}</h2>
    <p class="justify-self-end bg-[#BEE3CC] text-black text-sm px-3 py-1 font-bold rounded-md">
      {price.toLocaleString('en-US', { style: 'currency', currency: 'USD' })}
    </p>
    <div class="flex items-center gap-x-2 font-bold mt-2">
      <p>
        {rating > 0 ? <StarFill /> : <Star />}
      </p>
      <p>
        {rating > 0 && rating.toFixed(1)}
        <span class="opacity-60">
          {rating > 0 ? `(${reviews}) votes` : 'No ratings'}
        </span>
      </p>
    </div>
    <p class="justify-self-end">
      {stock === 0 && <strong class="text-red-400">Sold out</strong>}
    </p>
    <footer></footer>
  </section>
</div>
